.default {
    background-color: #d9a7fc;
    border-color: #9600ff;
}

.default:hover {
    background-color: #bc6af8;
}

.default:disabled:hover {
    background-color: #d9a7fc;
}

.red {
    background-color: #ff6262;
}

.red:hover {
    background-color: #f64040;
}